@model List<Empleado>
<h1>Paginar Grupo Empleados por Oficio</h1>
@{
    int numeroregistros = 0;
    if (ViewData["NUMEROREGISTROS"] != null)
    {
        numeroregistros = (int)ViewData["NUMEROREGISTROS"];
    }
    int numeroPagina = 1;
}
<form method="post">
    <label>Introduzca el oficio:</label>
    <input type="text" name="oficio" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">
        Buscar Empleados
    </button>
</form>

@if (Model != null)
{
    //paginacion razor siempre es mejor hacerlo así
    <h2>Paginación en razor</h2>
    <ul class="list-group list-group-horizontal">
        @for (int i = 1; i <= numeroregistros; i += 3)
        {
            <li class="list-group-item list-group-item-warning">
                <a asp-controller="Departamentos"
                   asp-action="PaginarGrupoEmpleadosOficio"
                   asp-route-posicion="@i"
                   asp-route-oficio="@ViewData["OFICIO"]">
                    @numeroPagina
                </a>
            </li>
            numeroPagina += 1;
        }
    </ul>


    <table class="table table-dark">
        <thead>
            <tr>
                <th> IdEmpleado</th>
                <th> Apellido</th>
                <th> Salario</th>
                <th> Oficio</th>
                <th> Comision</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.IdEmpleado</td>
                    <td>@emp.Apellido</td>
                    <td>@emp.Salario</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Comision</td>
                </tr>
            }
        </tbody>
    </table>
}